/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */
/* line 8, ../scss/gridlex.scss */
[class*="grid"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem;
}

/* line 14, ../scss/gridlex.scss */
.col,
[class*="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 0.5rem 1rem;
}

/* line 20, ../scss/gridlex.scss */
.col {
  flex: 1 1 0%;
}

/* line 23, ../scss/gridlex.scss */
.grid.col,
.grid[class*="col-"] {
  margin: 0;
  padding: 0;
}

/************************
    HELPERS SUFFIXES
*************************/
/* line 35, ../scss/gridlex.scss */
[class*="grid-"][class*="-noGutter"] {
  margin: 0;
}
/* line 37, ../scss/gridlex.scss */
[class*="grid-"][class*="-noGutter"] > [class*="col"] {
  padding: 0;
}
/* line 43, ../scss/gridlex.scss */
[class*="grid-"][class*="-noWrap"] {
  flex-wrap: nowrap;
}
/* line 47, ../scss/gridlex.scss */
[class*="grid-"][class*="-center"] {
  justify-content: center;
}
/* line 50, ../scss/gridlex.scss */
[class*="grid-"][class*="-right"] {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}
/* line 56, ../scss/gridlex.scss */
[class*="grid-"][class*="-top"] {
  align-items: flex-start;
}
/* line 59, ../scss/gridlex.scss */
[class*="grid-"][class*="-middle"] {
  align-items: center;
}
/* line 62, ../scss/gridlex.scss */
[class*="grid-"][class*="-bottom"] {
  align-items: flex-end;
}
/* line 67, ../scss/gridlex.scss */
[class*="grid-"][class*="-reverse"] {
  flex-direction: row-reverse;
}
/* line 70, ../scss/gridlex.scss */
[class*="grid-"][class*="-column"] {
  flex-direction: column;
}
/* line 72, ../scss/gridlex.scss */
[class*="grid-"][class*="-column"] > [class*="col-"] {
  flex-basis: auto;
}
/* line 76, ../scss/gridlex.scss */
[class*="grid-"][class*="-column-reverse"] {
  flex-direction: column-reverse;
}
/* line 81, ../scss/gridlex.scss */
[class*="grid-"][class*="-spaceBetween"] {
  justify-content: space-between;
}
/* line 84, ../scss/gridlex.scss */
[class*="grid-"][class*="-spaceAround"] {
  justify-content: space-around;
}
/* line 89, ../scss/gridlex.scss */
[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
  display: flex;
}
/* line 91, ../scss/gridlex.scss */
[class*="grid-"][class*="-equalHeight"] > [class*="col"] > * {
  flex: 1;
}
/* line 96, ../scss/gridlex.scss */
[class*="grid-"][class*="-noBottom"] > [class*="col"] {
  padding-bottom: 0;
}

/* line 103, ../scss/gridlex.scss */
[class*="col-"][class*="-top"] {
  align-self: flex-start;
}
/* line 106, ../scss/gridlex.scss */
[class*="col-"][class*="-middle"] {
  align-self: center;
}
/* line 109, ../scss/gridlex.scss */
[class*="col-"][class*="-bottom"] {
  align-self: flex-end;
}
/* line 112, ../scss/gridlex.scss */
[class*="col-"][class*="-first"] {
  order: -1;
}
/* line 115, ../scss/gridlex.scss */
[class*="col-"][class*="-last"] {
  order: 1;
}

/************************
    GRID BY NUMBER
*************************/
/* line 37, ../scss/gridlex-vars.scss */
[class*="grid-1"] > .col, [class*="grid-1"] > [class*='col-'] {
  flex-basis: 100%;
  max-width: 100%;
}

/* line 38, ../scss/gridlex-vars.scss */
[class*="grid-2"] > .col, [class*="grid-2"] > [class*='col-'] {
  flex-basis: 50%;
  max-width: 50%;
}

/* line 39, ../scss/gridlex-vars.scss */
[class*="grid-3"] > .col, [class*="grid-3"] > [class*='col-'] {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

/* line 40, ../scss/gridlex-vars.scss */
[class*="grid-4"] > .col, [class*="grid-4"] > [class*='col-'] {
  flex-basis: 25%;
  max-width: 25%;
}

/* line 41, ../scss/gridlex-vars.scss */
[class*="grid-5"] > .col, [class*="grid-5"] > [class*='col-'] {
  flex-basis: 20%;
  max-width: 20%;
}

/* line 42, ../scss/gridlex-vars.scss */
[class*="grid-6"] > .col, [class*="grid-6"] > [class*='col-'] {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

/* line 43, ../scss/gridlex-vars.scss */
[class*="grid-7"] > .col, [class*="grid-7"] > [class*='col-'] {
  flex-basis: 14.28571%;
  max-width: 14.28571%;
}

/* line 44, ../scss/gridlex-vars.scss */
[class*="grid-8"] > .col, [class*="grid-8"] > [class*='col-'] {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

/* line 45, ../scss/gridlex-vars.scss */
[class*="grid-9"] > .col, [class*="grid-9"] > [class*='col-'] {
  flex-basis: 11.11111%;
  max-width: 11.11111%;
}

/* line 46, ../scss/gridlex-vars.scss */
[class*="grid-10"] > .col, [class*="grid-10"] > [class*='col-'] {
  flex-basis: 10%;
  max-width: 10%;
}

/* line 47, ../scss/gridlex-vars.scss */
[class*="grid-11"] > .col, [class*="grid-11"] > [class*='col-'] {
  flex-basis: 9.09091%;
  max-width: 9.09091%;
}

/* line 48, ../scss/gridlex-vars.scss */
[class*="grid-12"] > .col, [class*="grid-12"] > [class*='col-'] {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

@media screen and (max-width: 80em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_lg-1"] > .col, [class*="_lg-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_lg-2"] > .col, [class*="_lg-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_lg-3"] > .col, [class*="_lg-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_lg-4"] > .col, [class*="_lg-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_lg-5"] > .col, [class*="_lg-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_lg-6"] > .col, [class*="_lg-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_lg-7"] > .col, [class*="_lg-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_lg-8"] > .col, [class*="_lg-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_lg-9"] > .col, [class*="_lg-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_lg-10"] > .col, [class*="_lg-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_lg-11"] > .col, [class*="_lg-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_lg-12"] > .col, [class*="_lg-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (max-width: 64em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_md-1"] > .col, [class*="_md-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_md-2"] > .col, [class*="_md-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_md-3"] > .col, [class*="_md-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_md-4"] > .col, [class*="_md-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_md-5"] > .col, [class*="_md-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_md-6"] > .col, [class*="_md-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_md-7"] > .col, [class*="_md-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_md-8"] > .col, [class*="_md-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_md-9"] > .col, [class*="_md-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_md-10"] > .col, [class*="_md-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_md-11"] > .col, [class*="_md-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_md-12"] > .col, [class*="_md-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (max-width: 48em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_sm-1"] > .col, [class*="_sm-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_sm-2"] > .col, [class*="_sm-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_sm-3"] > .col, [class*="_sm-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_sm-4"] > .col, [class*="_sm-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_sm-5"] > .col, [class*="_sm-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_sm-6"] > .col, [class*="_sm-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_sm-7"] > .col, [class*="_sm-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_sm-8"] > .col, [class*="_sm-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_sm-9"] > .col, [class*="_sm-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_sm-10"] > .col, [class*="_sm-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_sm-11"] > .col, [class*="_sm-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_sm-12"] > .col, [class*="_sm-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_xs-1"] > .col, [class*="_xs-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_xs-2"] > .col, [class*="_xs-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_xs-3"] > .col, [class*="_xs-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_xs-4"] > .col, [class*="_xs-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_xs-5"] > .col, [class*="_xs-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_xs-6"] > .col, [class*="_xs-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_xs-7"] > .col, [class*="_xs-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_xs-8"] > .col, [class*="_xs-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_xs-9"] > .col, [class*="_xs-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_xs-10"] > .col, [class*="_xs-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_xs-11"] > .col, [class*="_xs-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_xs-12"] > .col, [class*="_xs-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
/************************
    COLS SIZES
*************************/
/* line 55, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-1"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
/* line 56, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-2"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}
/* line 57, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-3"] {
  flex-basis: 25%;
  max-width: 25%;
}
/* line 58, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-4"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
/* line 59, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-5"] {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}
/* line 60, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-6"] {
  flex-basis: 50%;
  max-width: 50%;
}
/* line 61, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-7"] {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}
/* line 62, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-8"] {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}
/* line 63, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-9"] {
  flex-basis: 75%;
  max-width: 75%;
}
/* line 64, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-10"] {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}
/* line 65, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-11"] {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}
/* line 66, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-12"] {
  flex-basis: 100%;
  max-width: 100%;
}

/* line 74, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-0"] {
  margin-left: 0;
}
/* line 75, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-1"] {
  margin-left: 8.33333%;
}
/* line 76, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-2"] {
  margin-left: 16.66667%;
}
/* line 77, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-3"] {
  margin-left: 25%;
}
/* line 78, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-4"] {
  margin-left: 33.33333%;
}
/* line 79, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-5"] {
  margin-left: 41.66667%;
}
/* line 80, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-6"] {
  margin-left: 50%;
}
/* line 81, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-7"] {
  margin-left: 58.33333%;
}
/* line 82, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-8"] {
  margin-left: 66.66667%;
}
/* line 83, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-9"] {
  margin-left: 75%;
}
/* line 84, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-10"] {
  margin-left: 83.33333%;
}
/* line 85, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-11"] {
  margin-left: 91.66667%;
}
/* line 87, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-0"] {
  margin-right: 0;
}
/* line 88, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-1"] {
  margin-right: 8.33333%;
}
/* line 89, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-2"] {
  margin-right: 16.66667%;
}
/* line 90, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-3"] {
  margin-right: 25%;
}
/* line 91, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-4"] {
  margin-right: 33.33333%;
}
/* line 92, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-5"] {
  margin-right: 41.66667%;
}
/* line 93, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-6"] {
  margin-right: 50%;
}
/* line 94, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-7"] {
  margin-right: 58.33333%;
}
/* line 95, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-8"] {
  margin-right: 66.66667%;
}
/* line 96, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-9"] {
  margin-right: 75%;
}
/* line 97, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-10"] {
  margin-right: 83.33333%;
}
/* line 98, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-11"] {
  margin-right: 91.66667%;
}

@media screen and (max-width: 80em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-11"] {
    margin-right: 91.66667%;
  }
}
@media screen and (max-width: 64em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-11"] {
    margin-right: 91.66667%;
  }
}
@media screen and (max-width: 48em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-11"] {
    margin-right: 91.66667%;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-11"] {
    margin-right: 91.66667%;
  }
}
/************************
    HIDING COLS
*************************/
/* line 164, ../scss/gridlex.scss */
[class*="col-"]:not([class*="col-0"]) {
  display: block;
}

/* line 167, ../scss/gridlex.scss */
[class*="grid"][class*="col-"]:not([class*="col-0"]) {
  display: flex;
}

/* line 170, ../scss/gridlex.scss */
[class*="col-"][class*="col-0"] {
  display: none;
}

@media screen and (max-width: 80em) {
  /* line 175, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_lg-0"]) {
    display: block;
  }
  /* line 178, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_lg-0"]) {
    display: flex;
  }
  /* line 181, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_lg-0"], [class*="grid"][class*="-equalHeight"] > [class*="_lg-0"] {
    display: none;
  }
}
@media screen and (max-width: 64em) {
  /* line 189, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_md-0"]) {
    display: block;
  }
  /* line 192, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_md-0"]) {
    display: flex;
  }
  /* line 195, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_md-0"], [class*="grid"][class*="-equalHeight"] > [class*="_md-0"] {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  /* line 203, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_sm-0"]) {
    display: block;
  }
  /* line 206, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_sm-0"]) {
    display: flex;
  }
  /* line 209, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_sm-0"], [class*="grid"][class*="-equalHeight"] > [class*="_sm-0"] {
    display: none;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 217, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_xs-0"]) {
    display: block;
  }
  /* line 220, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_xs-0"]) {
    display: flex;
  }
  /* line 223, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_xs-0"], [class*="grid"][class*="-equalHeight"] > [class*="_xs-0"] {
    display: none;
  }
}
