/* line 1, ../scss/nav.scss */
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0683c9;
  transition: height 0.3s;
}

/* line 12, ../scss/nav.scss */
header h1#logo {
  display: inline-block;
  height: 150px;
  line-height: 150px;
  float: left;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: white;
  font-weight: 400;
  transition: all 0.3s;
}

/* line 23, ../scss/nav.scss */
header nav {
  display: inline-block;
  float: right;
}

/* line 27, ../scss/nav.scss */
header nav a {
  line-height: 150px;
  margin-left: 20px;
  color: #9fdbfc;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s;
}

/* line 35, ../scss/nav.scss */
header nav a:hover {
  color: white;
}

/* line 38, ../scss/nav.scss */
header.smaller {
  height: 75px;
}

/* line 41, ../scss/nav.scss */
header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}

/* line 47, ../scss/nav.scss */
header.smaller nav a {
  line-height: 75px;
}
