/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */
/* line 8, ../scss/gridlex.scss */
[class*="grid"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem;
}

/* line 14, ../scss/gridlex.scss */
.col,
[class*="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 0.5rem 1rem;
}

/* line 20, ../scss/gridlex.scss */
.col {
  flex: 1 1 0%;
}

/* line 23, ../scss/gridlex.scss */
.grid.col,
.grid[class*="col-"] {
  margin: 0;
  padding: 0;
}

/************************
    HELPERS SUFFIXES
*************************/
/* line 35, ../scss/gridlex.scss */
[class*="grid-"][class*="-noGutter"] {
  margin: 0;
}
/* line 37, ../scss/gridlex.scss */
[class*="grid-"][class*="-noGutter"] > [class*="col"] {
  padding: 0;
}
/* line 43, ../scss/gridlex.scss */
[class*="grid-"][class*="-noWrap"] {
  flex-wrap: nowrap;
}
/* line 47, ../scss/gridlex.scss */
[class*="grid-"][class*="-center"] {
  justify-content: center;
}
/* line 50, ../scss/gridlex.scss */
[class*="grid-"][class*="-right"] {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}
/* line 56, ../scss/gridlex.scss */
[class*="grid-"][class*="-top"] {
  align-items: flex-start;
}
/* line 59, ../scss/gridlex.scss */
[class*="grid-"][class*="-middle"] {
  align-items: center;
}
/* line 62, ../scss/gridlex.scss */
[class*="grid-"][class*="-bottom"] {
  align-items: flex-end;
}
/* line 67, ../scss/gridlex.scss */
[class*="grid-"][class*="-reverse"] {
  flex-direction: row-reverse;
}
/* line 70, ../scss/gridlex.scss */
[class*="grid-"][class*="-column"] {
  flex-direction: column;
}
/* line 72, ../scss/gridlex.scss */
[class*="grid-"][class*="-column"] > [class*="col-"] {
  flex-basis: auto;
}
/* line 76, ../scss/gridlex.scss */
[class*="grid-"][class*="-column-reverse"] {
  flex-direction: column-reverse;
}
/* line 81, ../scss/gridlex.scss */
[class*="grid-"][class*="-spaceBetween"] {
  justify-content: space-between;
}
/* line 84, ../scss/gridlex.scss */
[class*="grid-"][class*="-spaceAround"] {
  justify-content: space-around;
}
/* line 89, ../scss/gridlex.scss */
[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
  display: flex;
}
/* line 91, ../scss/gridlex.scss */
[class*="grid-"][class*="-equalHeight"] > [class*="col"] > * {
  flex: 1;
}
/* line 96, ../scss/gridlex.scss */
[class*="grid-"][class*="-noBottom"] > [class*="col"] {
  padding-bottom: 0;
}

/* line 103, ../scss/gridlex.scss */
[class*="col-"][class*="-top"] {
  align-self: flex-start;
}
/* line 106, ../scss/gridlex.scss */
[class*="col-"][class*="-middle"] {
  align-self: center;
}
/* line 109, ../scss/gridlex.scss */
[class*="col-"][class*="-bottom"] {
  align-self: flex-end;
}
/* line 112, ../scss/gridlex.scss */
[class*="col-"][class*="-first"] {
  order: -1;
}
/* line 115, ../scss/gridlex.scss */
[class*="col-"][class*="-last"] {
  order: 1;
}

/************************
    GRID BY NUMBER
*************************/
/* line 37, ../scss/gridlex-vars.scss */
[class*="grid-1"] > .col, [class*="grid-1"] > [class*='col-'] {
  flex-basis: 100%;
  max-width: 100%;
}

/* line 38, ../scss/gridlex-vars.scss */
[class*="grid-2"] > .col, [class*="grid-2"] > [class*='col-'] {
  flex-basis: 50%;
  max-width: 50%;
}

/* line 39, ../scss/gridlex-vars.scss */
[class*="grid-3"] > .col, [class*="grid-3"] > [class*='col-'] {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

/* line 40, ../scss/gridlex-vars.scss */
[class*="grid-4"] > .col, [class*="grid-4"] > [class*='col-'] {
  flex-basis: 25%;
  max-width: 25%;
}

/* line 41, ../scss/gridlex-vars.scss */
[class*="grid-5"] > .col, [class*="grid-5"] > [class*='col-'] {
  flex-basis: 20%;
  max-width: 20%;
}

/* line 42, ../scss/gridlex-vars.scss */
[class*="grid-6"] > .col, [class*="grid-6"] > [class*='col-'] {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

/* line 43, ../scss/gridlex-vars.scss */
[class*="grid-7"] > .col, [class*="grid-7"] > [class*='col-'] {
  flex-basis: 14.28571%;
  max-width: 14.28571%;
}

/* line 44, ../scss/gridlex-vars.scss */
[class*="grid-8"] > .col, [class*="grid-8"] > [class*='col-'] {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

/* line 45, ../scss/gridlex-vars.scss */
[class*="grid-9"] > .col, [class*="grid-9"] > [class*='col-'] {
  flex-basis: 11.11111%;
  max-width: 11.11111%;
}

/* line 46, ../scss/gridlex-vars.scss */
[class*="grid-10"] > .col, [class*="grid-10"] > [class*='col-'] {
  flex-basis: 10%;
  max-width: 10%;
}

/* line 47, ../scss/gridlex-vars.scss */
[class*="grid-11"] > .col, [class*="grid-11"] > [class*='col-'] {
  flex-basis: 9.09091%;
  max-width: 9.09091%;
}

/* line 48, ../scss/gridlex-vars.scss */
[class*="grid-12"] > .col, [class*="grid-12"] > [class*='col-'] {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

@media screen and (max-width: 80em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_lg-1"] > .col, [class*="_lg-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_lg-2"] > .col, [class*="_lg-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_lg-3"] > .col, [class*="_lg-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_lg-4"] > .col, [class*="_lg-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_lg-5"] > .col, [class*="_lg-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_lg-6"] > .col, [class*="_lg-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_lg-7"] > .col, [class*="_lg-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_lg-8"] > .col, [class*="_lg-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_lg-9"] > .col, [class*="_lg-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_lg-10"] > .col, [class*="_lg-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_lg-11"] > .col, [class*="_lg-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_lg-12"] > .col, [class*="_lg-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (max-width: 64em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_md-1"] > .col, [class*="_md-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_md-2"] > .col, [class*="_md-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_md-3"] > .col, [class*="_md-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_md-4"] > .col, [class*="_md-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_md-5"] > .col, [class*="_md-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_md-6"] > .col, [class*="_md-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_md-7"] > .col, [class*="_md-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_md-8"] > .col, [class*="_md-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_md-9"] > .col, [class*="_md-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_md-10"] > .col, [class*="_md-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_md-11"] > .col, [class*="_md-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_md-12"] > .col, [class*="_md-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (max-width: 48em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_sm-1"] > .col, [class*="_sm-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_sm-2"] > .col, [class*="_sm-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_sm-3"] > .col, [class*="_sm-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_sm-4"] > .col, [class*="_sm-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_sm-5"] > .col, [class*="_sm-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_sm-6"] > .col, [class*="_sm-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_sm-7"] > .col, [class*="_sm-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_sm-8"] > .col, [class*="_sm-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_sm-9"] > .col, [class*="_sm-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_sm-10"] > .col, [class*="_sm-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_sm-11"] > .col, [class*="_sm-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_sm-12"] > .col, [class*="_sm-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 37, ../scss/gridlex-vars.scss */
  [class*="_xs-1"] > .col, [class*="_xs-1"] > [class*='col-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 38, ../scss/gridlex-vars.scss */
  [class*="_xs-2"] > .col, [class*="_xs-2"] > [class*='col-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 39, ../scss/gridlex-vars.scss */
  [class*="_xs-3"] > .col, [class*="_xs-3"] > [class*='col-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 40, ../scss/gridlex-vars.scss */
  [class*="_xs-4"] > .col, [class*="_xs-4"] > [class*='col-'] {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 41, ../scss/gridlex-vars.scss */
  [class*="_xs-5"] > .col, [class*="_xs-5"] > [class*='col-'] {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* line 42, ../scss/gridlex-vars.scss */
  [class*="_xs-6"] > .col, [class*="_xs-6"] > [class*='col-'] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 43, ../scss/gridlex-vars.scss */
  [class*="_xs-7"] > .col, [class*="_xs-7"] > [class*='col-'] {
    flex-basis: 14.28571%;
    max-width: 14.28571%;
  }

  /* line 44, ../scss/gridlex-vars.scss */
  [class*="_xs-8"] > .col, [class*="_xs-8"] > [class*='col-'] {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 45, ../scss/gridlex-vars.scss */
  [class*="_xs-9"] > .col, [class*="_xs-9"] > [class*='col-'] {
    flex-basis: 11.11111%;
    max-width: 11.11111%;
  }

  /* line 46, ../scss/gridlex-vars.scss */
  [class*="_xs-10"] > .col, [class*="_xs-10"] > [class*='col-'] {
    flex-basis: 10%;
    max-width: 10%;
  }

  /* line 47, ../scss/gridlex-vars.scss */
  [class*="_xs-11"] > .col, [class*="_xs-11"] > [class*='col-'] {
    flex-basis: 9.09091%;
    max-width: 9.09091%;
  }

  /* line 48, ../scss/gridlex-vars.scss */
  [class*="_xs-12"] > .col, [class*="_xs-12"] > [class*='col-'] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
}
/************************
    COLS SIZES
*************************/
/* line 55, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-1"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
/* line 56, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-2"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}
/* line 57, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-3"] {
  flex-basis: 25%;
  max-width: 25%;
}
/* line 58, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-4"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
/* line 59, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-5"] {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}
/* line 60, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-6"] {
  flex-basis: 50%;
  max-width: 50%;
}
/* line 61, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-7"] {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}
/* line 62, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-8"] {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}
/* line 63, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-9"] {
  flex-basis: 75%;
  max-width: 75%;
}
/* line 64, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-10"] {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}
/* line 65, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-11"] {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}
/* line 66, ../scss/gridlex-vars.scss */
[class*='grid'] > [class*="col-12"] {
  flex-basis: 100%;
  max-width: 100%;
}

/* line 74, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-0"] {
  margin-left: 0;
}
/* line 75, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-1"] {
  margin-left: 8.33333%;
}
/* line 76, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-2"] {
  margin-left: 16.66667%;
}
/* line 77, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-3"] {
  margin-left: 25%;
}
/* line 78, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-4"] {
  margin-left: 33.33333%;
}
/* line 79, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-5"] {
  margin-left: 41.66667%;
}
/* line 80, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-6"] {
  margin-left: 50%;
}
/* line 81, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-7"] {
  margin-left: 58.33333%;
}
/* line 82, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-8"] {
  margin-left: 66.66667%;
}
/* line 83, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-9"] {
  margin-left: 75%;
}
/* line 84, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-10"] {
  margin-left: 83.33333%;
}
/* line 85, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-left*="off-11"] {
  margin-left: 91.66667%;
}
/* line 87, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-0"] {
  margin-right: 0;
}
/* line 88, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-1"] {
  margin-right: 8.33333%;
}
/* line 89, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-2"] {
  margin-right: 16.66667%;
}
/* line 90, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-3"] {
  margin-right: 25%;
}
/* line 91, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-4"] {
  margin-right: 33.33333%;
}
/* line 92, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-5"] {
  margin-right: 41.66667%;
}
/* line 93, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-6"] {
  margin-right: 50%;
}
/* line 94, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-7"] {
  margin-right: 58.33333%;
}
/* line 95, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-8"] {
  margin-right: 66.66667%;
}
/* line 96, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-9"] {
  margin-right: 75%;
}
/* line 97, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-10"] {
  margin-right: 83.33333%;
}
/* line 98, ../scss/gridlex-vars.scss */
[class*="grid"] > [data-push-right*="off-11"] {
  margin-right: 91.66667%;
}

@media screen and (max-width: 80em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_lg-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_lg-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_lg-11"] {
    margin-right: 91.66667%;
  }
}
@media screen and (max-width: 64em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_md-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_md-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_md-11"] {
    margin-right: 91.66667%;
  }
}
@media screen and (max-width: 48em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_sm-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_sm-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_sm-11"] {
    margin-right: 91.66667%;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 55, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  /* line 56, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  /* line 57, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-3"] {
    flex-basis: 25%;
    max-width: 25%;
  }
  /* line 58, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  /* line 59, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  /* line 60, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-6"] {
    flex-basis: 50%;
    max-width: 50%;
  }
  /* line 61, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  /* line 62, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  /* line 63, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-9"] {
    flex-basis: 75%;
    max-width: 75%;
  }
  /* line 64, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  /* line 65, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  /* line 66, ../scss/gridlex-vars.scss */
  [class*='grid'] > [class*="_xs-12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 74, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-0"] {
    margin-left: 0;
  }
  /* line 75, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-1"] {
    margin-left: 8.33333%;
  }
  /* line 76, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-2"] {
    margin-left: 16.66667%;
  }
  /* line 77, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-3"] {
    margin-left: 25%;
  }
  /* line 78, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-4"] {
    margin-left: 33.33333%;
  }
  /* line 79, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-5"] {
    margin-left: 41.66667%;
  }
  /* line 80, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-6"] {
    margin-left: 50%;
  }
  /* line 81, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-7"] {
    margin-left: 58.33333%;
  }
  /* line 82, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-8"] {
    margin-left: 66.66667%;
  }
  /* line 83, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-9"] {
    margin-left: 75%;
  }
  /* line 84, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-10"] {
    margin-left: 83.33333%;
  }
  /* line 85, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-left*="_xs-11"] {
    margin-left: 91.66667%;
  }
  /* line 87, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-0"] {
    margin-right: 0;
  }
  /* line 88, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-1"] {
    margin-right: 8.33333%;
  }
  /* line 89, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-2"] {
    margin-right: 16.66667%;
  }
  /* line 90, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-3"] {
    margin-right: 25%;
  }
  /* line 91, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-4"] {
    margin-right: 33.33333%;
  }
  /* line 92, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-5"] {
    margin-right: 41.66667%;
  }
  /* line 93, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-6"] {
    margin-right: 50%;
  }
  /* line 94, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-7"] {
    margin-right: 58.33333%;
  }
  /* line 95, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-8"] {
    margin-right: 66.66667%;
  }
  /* line 96, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-9"] {
    margin-right: 75%;
  }
  /* line 97, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-10"] {
    margin-right: 83.33333%;
  }
  /* line 98, ../scss/gridlex-vars.scss */
  [class*="grid"] > [data-push-right*="_xs-11"] {
    margin-right: 91.66667%;
  }
}
/************************
    HIDING COLS
*************************/
/* line 164, ../scss/gridlex.scss */
[class*="col-"]:not([class*="col-0"]) {
  display: block;
}

/* line 167, ../scss/gridlex.scss */
[class*="grid"][class*="col-"]:not([class*="col-0"]) {
  display: flex;
}

/* line 170, ../scss/gridlex.scss */
[class*="col-"][class*="col-0"] {
  display: none;
}

@media screen and (max-width: 80em) {
  /* line 175, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_lg-0"]) {
    display: block;
  }
  /* line 178, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_lg-0"]) {
    display: flex;
  }
  /* line 181, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_lg-0"], [class*="grid"][class*="-equalHeight"] > [class*="_lg-0"] {
    display: none;
  }
}
@media screen and (max-width: 64em) {
  /* line 189, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_md-0"]) {
    display: block;
  }
  /* line 192, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_md-0"]) {
    display: flex;
  }
  /* line 195, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_md-0"], [class*="grid"][class*="-equalHeight"] > [class*="_md-0"] {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  /* line 203, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_sm-0"]) {
    display: block;
  }
  /* line 206, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_sm-0"]) {
    display: flex;
  }
  /* line 209, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_sm-0"], [class*="grid"][class*="-equalHeight"] > [class*="_sm-0"] {
    display: none;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 217, ../scss/gridlex.scss */
  [class*="grid"] > :not([class*="_xs-0"]) {
    display: block;
  }
  /* line 220, ../scss/gridlex.scss */
  [class*="grid"]:not([class*="_xs-0"]) {
    display: flex;
  }
  /* line 223, ../scss/gridlex.scss */
  [class*="grid"] > [class*="_xs-0"], [class*="grid"][class*="-equalHeight"] > [class*="_xs-0"] {
    display: none;
  }
}
/* line 8, ../scss/stylesheet.scss */
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #131418;
  overflow-x: hidden;
}

/* line 15, ../scss/stylesheet.scss */
h1 {
  margin: 0;
}

/* line 19, ../scss/stylesheet.scss */
[class*="col-"] {
  padding: 0;
}

/* line 22, ../scss/stylesheet.scss */
[class*="grid"] {
  margin: 0;
}

/* line 26, ../scss/stylesheet.scss */
.header {
  z-index: 9999;
  position: relative;
  height: 120px;
  color: white;
  transition: all 1s ease;
}
/* line 29, ../scss/stylesheet.scss */
.header .bg {
  margin: 0;
  position: absolute;
  height: 100px;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhYzM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2Q4YzE0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOWM0Y2MyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2ac363), color-stop(50%, #cd8c14), color-stop(100%, #9c4cc2));
  background-image: -moz-linear-gradient(left, #2ac363, #cd8c14, #9c4cc2);
  background-image: -webkit-linear-gradient(left, #2ac363, #cd8c14, #9c4cc2);
  background-image: linear-gradient(to right, #2ac363, #cd8c14, #9c4cc2);
  padding: 10px 0;
  transition: all 1s ease;
}
/* line 42, ../scss/stylesheet.scss */
.header .title {
  max-width: 165px;
  margin: 0 auto;
  transition: all 1s ease;
  text-shadow: 1px 1px black;
}
/* line 47, ../scss/stylesheet.scss */
.header .title h1 {
  transition: all 1s ease;
  position: absolute;
  height: 100px;
  line-height: 93px;
}
/* line 53, ../scss/stylesheet.scss */
.header .title h1:after {
  transition: all 1s ease;
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  left: 105%;
  border: 3px solid #555;
  top: 27px;
  background: url("../images/code-flat.png") center center no-repeat;
  background-size: 55px;
}
/* line 68, ../scss/stylesheet.scss */
.header .title p {
  transition: all 1s ease;
  font-size: 1.1rem;
  position: absolute;
  bottom: 20px;
  padding-left: 25px;
}
/* line 77, ../scss/stylesheet.scss */
.header.smaller {
  height: 70px;
}
/* line 79, ../scss/stylesheet.scss */
.header.smaller .bg {
  height: 55px;
  opacity: .6;
}
/* line 83, ../scss/stylesheet.scss */
.header.smaller .title {
  opacity: 1.5;
}
/* line 85, ../scss/stylesheet.scss */
.header.smaller .title h1 {
  height: 50px;
  line-height: 53px;
}
/* line 88, ../scss/stylesheet.scss */
.header.smaller .title h1:after {
  width: 50px;
  height: 50px;
  left: 105%;
  top: 9px;
}
/* line 95, ../scss/stylesheet.scss */
.header.smaller .title p {
  bottom: -7px;
}

/* line 102, ../scss/stylesheet.scss */
.presentation {
  font-family: 'Roboto', sans-serif;
  color: white;
  min-height: 500px;
}
/* line 106, ../scss/stylesheet.scss */
.presentation [class*="--text"] {
  font-family: 'Oswald';
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}
/* line 111, ../scss/stylesheet.scss */
.presentation [class*="--text"] .arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(-90deg);
}

/* line 118, ../scss/stylesheet.scss */
.portfolio {
  min-height: 600px;
  background: linear-gradient(222deg, #1dbd94, #c92ef7);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* line 128, ../scss/stylesheet.scss */
.portfolio .portfolio--item {
  margin: 25px auto;
}
/* line 130, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item {
  margin: 0 auto;
  border-radius: 1px;
  width: 100%;
}
/* line 134, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--preview {
  position: relative;
  min-width: 310px;
  height: 300px;
  border: 10px solid #fafafa;
  max-width: 320px;
  box-shadow: 2px 2px 10px #666;
  transition: box-shadow 1s ease;
  overflow: hidden;
  margin: 0 auto;
}
@media (min-width: 500px) {
  /* line 134, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--preview {
    max-width: 480px;
  }
}
@media (min-width: 1200px) {
  /* line 134, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--preview {
    max-width: 550px;
    height: 400px;
    margin-right: 0;
  }
}
/* line 152, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--preview:hover {
  box-shadow: 2px 2px 10px #333;
  transform: rotate(0deg) scale(1.01);
}
/* line 155, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--preview:hover:before {
  transform: rotate(-15deg) scale(1.5);
}
/* line 160, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description {
  font-family: 'Roboto';
  color: white;
}
/* line 163, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description p {
  margin: 10px 5px;
}
/* line 166, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description h2 {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2em;
}
@media (min-width: 768px) {
  /* line 166, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--description h2 {
    text-align: left;
  }
}
/* line 175, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description .tags {
  width: 100%;
}
/* line 178, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description .tags p {
  display: inline-block;
}
/* line 181, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description .tags ul {
  padding: 0;
  list-style: none;
}
/* line 184, ../scss/stylesheet.scss */
.portfolio .portfolio--item .item .item--description .tags ul li {
  display: inline-block;
  font-size: .8em;
  margin: 5px 5px;
  padding: 2px 10px;
  background-color: white;
  color: gray;
  border-radius: 10px;
}
@media (min-width: 768px) {
  /* line 160, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--description {
    padding-left: 20px;
  }
}
@media (min-width: 500px) {
  /* line 160, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--description {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  /* line 160, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--description {
    max-width: 100%;
  }
  /* line 204, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--description h2 {
    margin-top: 0;
    margin-bottom: .5em;
  }
}
@media (min-width: 1200px) {
  /* line 160, ../scss/stylesheet.scss */
  .portfolio .portfolio--item .item .item--description {
    margin-left: 0;
  }
}

/* line 220, ../scss/stylesheet.scss */
.align-middle {
  justify-content: center;
}

/* line 224, ../scss/stylesheet.scss */
.mask {
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s ease;
}
/* line 233, ../scss/stylesheet.scss */
.mask a {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  font-size: 2em;
  transform: rotate(-45deg);
}
/* line 240, ../scss/stylesheet.scss */
.mask:hover {
  opacity: 1;
}

/* line 245, ../scss/stylesheet.scss */
.v-card {
  color: white;
}
/* line 247, ../scss/stylesheet.scss */
.v-card h3, .v-card p, .v-card h2 {
  margin: 0;
}
/* line 250, ../scss/stylesheet.scss */
.v-card .v-card--personal, .v-card .v-card--estudios, .v-card .v-card--experiencia {
  margin: 2em auto;
}
/* line 255, ../scss/stylesheet.scss */
.v-card .v-card--experiencia h2 span, .v-card .v-card--estudios h2 span {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: .8em;
}
/* line 262, ../scss/stylesheet.scss */
.v-card .v-card--experiencia p, .v-card .v-card--estudios p {
  font-family: 'Roboto';
  font-weight: 400;
}

/* line 270, ../scss/stylesheet.scss */
button.inside-item {
  background-color: #fafafa;
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  font-size: 1.2em;
  color: #555;
  padding: 5px 10px;
  margin: 0 5px;
  transition: all .5s ease;
}
/* line 271, ../scss/stylesheet.scss */
button.inside-item a {
  color: #555;
  text-decoration: none;
}
/* line 283, ../scss/stylesheet.scss */
button.inside-item:hover {
  box-shadow: 1px 1px 2px #222;
  transform: scale(1.05);
}

/* line 290, ../scss/stylesheet.scss */
.link {
  transform: rotate(-45deg);
}

/* line 294, ../scss/stylesheet.scss */
.rainbow {
  animation: nameColor 20s infinite;
}
@keyframes nameColor {
  0% {
    color: #9400D3;
  }
  16.6% {
    color: #4B0082;
  }
  33.3% {
    color: #0000FF;
  }
  49.9% {
    color: #00FF00;
  }
  66.5% {
    color: #FFFF00;
  }
  83.1% {
    color: #FF7F00;
  }
  100% {
    color: #FF0000;
  }
}
/* line 325, ../scss/stylesheet.scss */
contact-form {
  z-index: 999999;
  font-family: 'Roboto';
  opacity: .95;
  background-color: #66BB6A;
  border-radius: 10px;
  position: fixed;
  bottom: -450px;
  right: 0px;
  color: white;
  height: 500px;
  width: 320px;
  transition: bottom 1s ease;
}
/* line 327, ../scss/stylesheet.scss */
contact-form .inputs {
  height: 100%;
  background-color: white;
  padding-top: 16px;
}
/* line 343, ../scss/stylesheet.scss */
contact-form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777;
  opacity: .5;
}
/* line 347, ../scss/stylesheet.scss */
contact-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777;
  opacity: .5;
}
/* line 351, ../scss/stylesheet.scss */
contact-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777;
  opacity: .5;
}
/* line 355, ../scss/stylesheet.scss */
contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fafafa;
  opacity: .5;
}
/* line 359, ../scss/stylesheet.scss */
contact-form p, contact-form h2, contact-form input, contact-form button, contact-form textarea {
  margin: 0;
}
/* line 360, ../scss/stylesheet.scss */
contact-form p {
  padding: 16px;
}
/* line 363, ../scss/stylesheet.scss */
contact-form form {
  margin: 16px;
}
/* line 366, ../scss/stylesheet.scss */
contact-form input, contact-form textarea {
  outline: none;
  border: none;
  margin: 0;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.3em;
  border-bottom: 1px solid #66BB6A;
}
/* line 376, ../scss/stylesheet.scss */
contact-form input {
  height: 30px;
}
/* line 379, ../scss/stylesheet.scss */
contact-form textarea {
  padding: 16px 0 0 0;
}
/* line 382, ../scss/stylesheet.scss */
contact-form button {
  margin-top: 16px;
  width: 100%;
  border-radius: 15px;
  font-size: 1.2em;
  background-color: #66BB6A;
  border: none;
  color: white;
}

/* line 394, ../scss/stylesheet.scss */
.close-form {
  transition: all 1s ease;
  border-top-right-radius: 10px;
  padding: 15px;
  display: inline-flex;
  opacity: 0;
  z-index: 998;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f44336;
}

/* line 407, ../scss/stylesheet.scss */
.show {
  opacity: 1;
}

/* line 412, ../scss/stylesheet.scss */
.open-form {
  bottom: -45px;
}
